
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="./static/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="./static/vis.min.css" type="text/css"/>
    <link rel="stylesheet" href="./static/webui.css" type="text/css"/>
    <link rel="stylesheet" href="./static/timeline-view.css" type="text/css"/>


    <script src="./static/sorttable.js"></script>
    <script src="./static/jquery-1.11.1.min.js"></script>
    <script src="./static/vis.min.js"></script>
    <script src="./static/bootstrap-tooltip.js"></script>
    <script src="./static/initialize-tooltips.js"></script>
    <script src="./static/table.js"></script>
    <script src="./static/additional-metrics.js"></script>
    <script src="./static/timeline-view.js"></script>

    <script src="./static/bootstrap.min.js"></script>

    <meta http-equiv="Refresh" content="60" >
    <title>一个亿</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <h3 style="vertical-align: middle; display: inline-block;">
            定个小目标！
          </h3>
        </div>  
      </div>
      <div class="row-fluid">
      <div class="span12">
        <ul class="unstyled">
          <li><strong>检测时间:</strong><strong>{{check_tm}}</strong></li>
          </li>
        </ul>
      </div>
    </div>

    <!--差价表-->
    <div class="row-fluid">
      <div class="span12">
        <h4>{{vs_name}}</h4>
        <table class="table table-bordered table-condensed table-striped sortable">
          <thead>
            <th width="" class="">交易对</th>
            {% for plat in platform -%}
            <th width="" class="">{{plat}}: (买价, 卖价) <br>
              <span class="muted" >持有usdt: </span><span class="muted" id = "{{plat}}_usdt" >{{plat}}_usdt</span>
            </th>
            {% endfor -%}
            <th width="" class=""> bfx买zb卖<span class="text-error">?大于10%</span><br>
              zb买bfx卖<span class="text-success">?小于0%</span></th>
            <th width="" class="">交易对</th>
          </thead>
          <tbody>
            {% for market in markets -%}
            <tr>
              <td>
                {{market}}
              </td>
              {% for plat in platform -%}
              <td><span id='{{plat}}_{{market}}'>{{plat}}_{{market}}</span><br>
                <span  class="muted" id='{{plat}}_balance_{{market}}'>0.0</span>
              </td>
              {% endfor -%}
              <td>
                <span id='{{market}}_off1'>{{market}}_off1</span><br>
                <span id='{{market}}_off2'>{{market}}_off2</span>
              </td>
              <td>
                {{market}}
              </td>
            </tr>
            {% endfor -%}
          </tbody>
        </table>
      </div>
    </div> 
    
    <!--我的挂单-->
    <div class="row-fluid">
      <div class="span12">
          <h4>未完成的挂单</h4>
          <ul class="unstyled" id="{{plat}}_myorder">
          {% for odr in myorders -%}
          <li >{{odr['plat']}} {{odr['market']}} {{odr['price']}} {{odr['side']}} {{odr['amount']}}</li>
          {% endfor -%}
          </ul>
      </div>
    </div>

  </body>

  <script>
    $(function(){
      //ticker
      var ticker = {{ticker_dic}};

      //account
      var account = {{account_dic}};
      $('#zb_usdt').text(Number(account['zb_usdt']).toFixed(2) );
      $('#bfx_usdt').text(Number(account['bfx_usd']).toFixed(2) );

      //off_dic
      var off_dic = {{off_dic}};
      var coin ='';
        {% for plat in platform -%}
          {% for market in markets -%}
          $('#{{plat}}_{{market}}').text( '('+ticker['{{plat}}_{{market}}'][0] + ',   ' + ticker['{{plat}}_{{market}}'][1]+')' );
           // balance
          //coin = '{{market}}'.split('_')[0].toLowerCase();
          coin = '{{market}}'.substring(0, '{{market}}'.indexOf('_'));
          $('#{{plat}}_balance_{{market}}').text(account['{{plat}}_'+coin] );

          {% endfor -%}
        {% endfor -%}

        {% for market in markets -%}
          var off1 = off_dic['{{market}}_off1'];
          var off1_step = off_dic['{{market}}_off1_step'];
          var perc1 = off_dic['{{market}}_perc1'];
            $('#{{market}}_off1').text(off1_step + ", ("+perc1+"%)")
            if( off1 > 0 && perc1 > 10 ){
              $('#{{market}}_off1').attr("class", "text-error")
            }
            //zb买bfx卖
          var off2 = off_dic['{{market}}_off2'];
          var off2_step = off_dic['{{market}}_off2_step'];
          var perc2 = off_dic['{{market}}_perc2'];
            $('#{{market}}_off2').text(off2_step + ", ("+perc2+"%)")
            if( off2 < 0 && perc2 < 0 ){
              $('#{{market}}_off2').attr("class", "text-success")
            }
        {% endfor -%}
      console.log("---------------done");
    });

  </script>
</html>

