[eos]
last_trad_tm = 1502779809
notify = 1
max_off = None
min_off = 11.50
max_val = 4.00
min_val = 11.00
max_ban = None
min_ban = None
max_volume = 10.00
min_volume = 0.50

[btc]
notify = 1
max_off = -10000.00
min_off = 5000.00
max_val = 20000.00
min_val = 32500.00
max_ban = -50.00
min_ban = 50.00
max_volume = 1.00
min_volume = 0.20
last_trad_tm = 1503660611

[bts]
notify = 1
max_off = -0.30
min_off = None
max_val = 0.00
min_val = 0.00
max_ban = None
min_ban = None
max_volume = 10.00
min_volume = 0.50
last_trad_tm = 1504417822

[eod]
notify = 1
max_off = None
min_off = None
max_val = 0.00
min_val = 23.00
max_ban = None
min_ban = None
max_volume = 5.00
min_volume = 0.50

[qtum]
notify = 1
max_off = None
min_off = None
max_val = 50.00
min_val = 130.00
max_ban = None
min_ban = None
max_volume = 5.00
min_volume = 0.50
last_trad_tm = 1504416915

[ven]
notify = 1
max_off = None
min_off = None
max_val = 0.40
min_val = 2.40
max_ban = None
min_ban = None
max_volume = 5.00
min_volume = 0.50

[evn]
notify = 1
max_off = None
min_off = None
max_val = 1.50
min_val = 0.00
max_ban = None
min_ban = None
max_volume = 5.00
min_volume = 0.50

[ltc]
notify = 1
max_off = None
min_off = None
max_val = 300.00
min_val = 0.00
max_ban = None
min_ban = None
max_volume = 5.00
min_volume = 0.50

[gnt]
notify = 1
max_off = None
min_off = None
max_val = 1.20
min_val = 0.00
max_ban = None
min_ban = None
max_volume = 5.00
min_volume = 0.50

[qutm]
notify = 1
max_off = None
min_off = None
max_val = 0.00
min_val = 98.00
max_ban = None
min_ban = None
max_volume = 5.00
min_volume = 0.50

[zgc]
notify = 1
max_off = None
min_off = None
max_val = 0.00
min_val = 1.00
max_ban = None
min_ban = None
max_volume = 5.00
min_volume = 0.50

[bcc]
notify = 1
max_off = None
min_off = None
max_val = 3800.00
min_val = 0.00
max_ban = None
min_ban = None
max_volume = 5.00
min_volume = 0.50

[etc]
notify = 1
max_off = -6.00
min_off = None
max_val = 5.00
min_val = 0.00
max_ban = None
min_ban = None
max_volume = 5.00
min_volume = 0.50

[sc]
notify = 1
max_off = None
min_off = None
max_val = 0.00
min_val = 0.12
max_ban = None
min_ban = None
max_volume = 5.00
min_volume = 0.50

[eth]
notify = 1
max_off = None
min_off = None
max_val = 0.00
min_val = 2300.00
max_ban = None
min_ban = None
max_volume = 5.00
min_volume = 0.50

