[zec]
notify = 1
max_off = -85.00
min_off = 85.00
max_val = 0.00
min_val = 0.00
max_ban = None
min_ban = None
max_volume = 10.00
min_volume = 0.50

[eth]
notify = 1
max_off = -50.00
min_off = 50.00
max_val = 0.00
min_val = 0.00
max_ban = None
min_ban = None
max_volume = 10.00
min_volume = 0.50

[notify]
last_wave_tm = 1505826604
last_wave_count = 109

