[zec]
notify = 1
max_off = 0.00
min_off = 100.00
max_val = 1.00
min_val = None
max_ban = None
min_ban = None
max_volume = 10.00
min_volume = 0.50

[eth]
notify = 1
max_off = 0.00
min_off = 100.00
max_val = 1.00
min_val = None
max_ban = None
min_ban = None
max_volume = 10.00
min_volume = 0.50

[etc]
notify = 1
max_off = None
min_off = 100.00
max_val = 0.00
min_val = 0.00
max_ban = None
min_ban = None
max_volume = 10.00
min_volume = 0.50

[notify]
last_wave_tm = 1505832603
last_wave_count = 9

